# Exercises II

### 1. Copy the users and roles DataFrames from the examples above.

In [26]:
import pandas as pd
from pydataset import data
import matplotlib as plt
import numpy as np

In [20]:
users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

   id   name  role_id
0   1    bob      1.0
1   2    joe      2.0
2   3  sally      3.0
3   4   adam      3.0
4   5   jane      NaN
5   6   mike      NaN

In [21]:
roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

   id       name
0   1      admin
1   2     author
2   3   reviewer
3   4  commenter

### 2. What is the result of using a right join on the DataFrames?

In [22]:
users.merge(roles, how='right', on=None, left_on=None, right_on=None, left_index=False, right_index=False, indicator=False)

   id       name  role_id
0   1      admin      NaN
1   2     author      NaN
2   3   reviewer      NaN
3   4  commenter      NaN

### 3. What is the result of using an outer join on the DataFrames?

In [23]:
#users.merge(roles, how='outer', on=None, left_on=None, right_on=None, left_index=False, right_index=False, indicator=False)
users.merge(roles, how='outer')

   id       name  role_id
0   1        bob      1.0
1   2        joe      2.0
2   3      sally      3.0
3   4       adam      3.0
4   5       jane      NaN
5   6       mike      NaN
6   1      admin      NaN
7   2     author      NaN
8   3   reviewer      NaN
9   4  commenter      NaN




### 4. What happens if you drop the foreign keys from the DataFrames and try to merge them?

In [24]:
users.drop(['role_id'], axis = 1, inplace = True)
users

   id   name
0   1    bob
1   2    joe
2   3  sally
3   4   adam
4   5   jane
5   6   mike

In [25]:
users.merge(roles)

Empty DataFrame
Columns: [id, name]
Index: []

### 5. Load the mpg dataset from PyDataset.

### 6. Output and read the documentation for the mpg dataset.

In [27]:
mpg = data('mpg')
data('mpg', show_doc = True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

### 7. How many rows and columns are in the dataset?

In [29]:
mpg.shape

(234, 11)

### 8. Check out your column names and perform any cleanup you may want on them.

In [30]:
mpg.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class'],
      dtype='object')

In [31]:
mpg.rename(columns={'cty':'city', 'hwy': 'highway', 'class': 'car_class'}, inplace = True)
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,car_class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

### 9. Display the summary statistics for the dataset.

In [32]:
mpg.describe()

            displ         year         cyl        city     highway
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

### 10. How many different manufacturers are there?

In [39]:
len(mpg['manufacturer'].unique())

15

### 11. How many different models are there?

In [43]:
mpg.model.value_counts().sum()

234

### 12. Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

In [45]:
mpg['mileage_difference'] = mpg.highway - mpg.city
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,car_class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10


### 13. Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

In [49]:
mpg['average_mileage'] = ((mpg.highway + mpg.city) / 2)
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,car_class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0


### 14. Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

In [51]:
mpg['is_automatic'] = mpg.trans.str.startswith('auto')
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,car_class,mileage_difference,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0,True

### 15. Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

In [89]:
mpg.groupby(['manufacturer']).average_mileage.agg(['mean']).sort_values(by = 'mean').tail()

                   mean
manufacturer
audi          22.027778
subaru        22.428571
hyundai       22.750000
volkswagen    25.074074
honda         28.500000

### 16. Do automatic or manual cars have better miles per gallon?

In [90]:
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,car_class,mileage_difference,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0,True

In [95]:
mpg[mpg.is_automatic == True]

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,car_class,mileage_difference,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5,True
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0,True
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,9,22.5,True
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,9,20.5,True
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,8,23.0,True
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,10,20.0,True
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,8,21.0,True
16,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize,9,19.5,True
17,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize,8,21.0,True
18,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize,7,19.5,True
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,6,17.0,True
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv,4,13.0,True
21,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,6,17.0,True
22,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv,4,15.0,True
23,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv,5,14.5,True
25,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater,8,19.0,True
27,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater,10,20.0,True
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv,5,16.5,True
30,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv,3,12.5,True
31,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv,4,13.0,True
32,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv,3,15.5,True
33,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize,8,23.0,True
34,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize,8,26.0,True
35,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize,8,22.0,True
36,chevrolet,malibu,3.5,2008,6,auto(l4),f,18,29,r,midsize,11,23.5,True
37,chevrolet,malibu,3.6,2008,6,auto(s6),f,17,26,r,midsize,9,21.5,True
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,6,21.0,True
39,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan,7,20.5,True
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,6,19.0,True
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,6,19.0,True
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,20.5,True
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,20.5,True
44,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan,6,14.0,True
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan,7,18.5,True
46,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan,6,18.0,True
47,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan,7,19.5,True
48,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan,7,19.5,True
50,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup,4,16.0,True
51,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup,4,15.0,True
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5,16.5,True
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5,16.5,True
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5,True
57,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,4,13.0,True
58,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv,4,15.0,True
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,4,15.0,True
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,10.5,True
61,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,4,15.0,True
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv,5,13.5,True
63,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,5,15.5,True
64,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv,4,13.0,True
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5,True
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0,True
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0,True
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,4,13.0,True
73,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0,True
74,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup,4,13.0,True
75,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv,6,14.0,True
76,ford,expedition 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,6,14.0,True
77,ford,expedition 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv,6,15.0,True
78,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,3,15.5,True
80,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,3,15.5,True
81,ford,explorer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv,6,16.0,True
82,ford,explorer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,6,16.0,True
83,ford,explorer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,4,15.0,True
84,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup,3,15.5,True
87,ford,f150 pickup 4wd,4.6,1999,8,auto(l4),4,13,16,r,pickup,3,14.5,True
88,ford,f150 pickup 4wd,4.6,2008,8,auto(l4),4,13,17,r,pickup,4,15.0,True
89,ford,f150 pickup 4wd,5.4,1999,8,auto(l4),4,11,15,r,pickup,4,13.0,True
90,ford,f150 pickup 4wd,5.4,2008,8,auto(l4),4,13,17,r,pickup,4,15.0,True
92,ford,mustang,3.8,1999,6,auto(l4),r,18,25,r,subcompact,7,21.5,True
94,ford,mustang,4.0,2008,6,auto(l5),r,16,24,r,subcompact,8,20.0,True
95,ford,mustang,4.6,1999,8,auto(l4),r,15,21,r,subcompact,6,18.0,True
98,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact,7,18.5,True
101,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,8,28.0,True
104,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,8,28.0,True
106,honda,civic,1.8,2008,4,auto(l5),f,25,36,r,subcompact,11,30.5,True
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,12,30.0,True
109,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize,8,22.0,True
111,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize,9,25.5,True
113,hyundai,sonata,2.5,1999,6,auto(l4),f,18,26,r,midsize,8,22.0,True
115,hyundai,sonata,3.3,2008,6,auto(l5),f,19,28,r,midsize,9,23.5,True
116,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact,7,22.5,True
119,hyundai,tiburon,2.0,2008,4,auto(l4),f,20,27,r,subcompact,7,23.5,True
120,hyundai,tiburon,2.7,2008,6,auto(l4),f,17,24,r,subcompact,7,20.5,True
123,jeep,grand cherokee 4wd,3.0,2008,6,auto(l5),4,17,22,d,suv,5,19.5,True
124,jeep,grand cherokee 4wd,3.7,2008,6,auto(l5),4,15,19,r,suv,4,17.0,True
125,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv,5,17.5,True
126,jeep,grand cherokee 4wd,4.7,1999,8,auto(l4),4,14,17,r,suv,3,15.5,True
127,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,10.5,True
128,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv,5,16.5,True
129,jeep,grand cherokee 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,5,15.5,True
130,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv,3,12.5,True
131,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv,4,13.0,True
132,land rover,range rover,4.2,2008,8,auto(s6),4,12,18,r,suv,6,15.0,True
133,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv,6,15.0,True
134,land rover,range rover,4.6,1999,8,auto(l4),4,11,15,p,suv,4,13.0,True
135,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,6,14.0,True
136,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,16,p,suv,5,13.5,True
137,lincoln,navigator 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv,6,15.0,True
138,mercury,mountaineer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,3,15.5,True
139,mercury,mountaineer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv,6,16.0,True
140,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,6,16.0,True
141,mercury,mountaineer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,4,15.0,True
143,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact,8,23.0,True
144,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize,8,27.0,True
147,nissan,altima,3.5,2008,6,auto(av),f,19,26,p,midsize,7,22.5,True
148,nissan,maxima,3.0,1999,6,auto(l4),f,18,26,r,midsize,8,22.0,True
150,nissan,maxima,3.5,2008,6,auto(av),f,19,25,p,midsize,6,22.0,True
151,nissan,pathfinder 4wd,3.3,1999,6,auto(l4),4,14,17,r,suv,3,15.5,True
153,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv,6,17.0,True
154,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv,6,15.0,True
155,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize,8,22.0,True
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize,10,21.0,True
157,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize,10,22.0,True
158,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize,10,23.0,True
159,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize,9,20.5,True
161,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv,6,21.0,True
164,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv,6,23.0,True
165,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv,5,20.5,True
166,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact,5,23.5,True
169,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact,7,22.5,True
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact,5,22.5,True
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact,7,23.5,True
175,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv,4,18.0,True
176,toyota,4runner 4wd,3.4,1999,6,auto(l4),4,15,19,r,suv,4,17.0,True
178,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv,4,18.0,True
179,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv,3,15.5,True
181,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize,6,24.0,True
183,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize,10,26.0,True
184,toyota,camry,3.0,1999,6,auto(l4),f,18,26,r,midsize,8,22.0,True
186,toyota,camry,3.5,2008,6,auto(s6),f,19,28,r,midsize,9,23.5,True
187,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact,6,24.0,True
190,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact,9,26.5,True
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact,8,22.0,True
193,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact,9,22.5,True
194,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact,6,27.0,True
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact,9,28.5,True
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,9,30.5,True
199,toyota,land cruiser wagon 4wd,4.7,1999,8,auto(l4),4,11,15,r,suv,4,13.0,True
200,toyota,land cruiser wagon 4wd,5.7,2008,8,auto(s6),4,13,18,r,suv,5,15.5,True
202,toyota,toyota tacoma 4wd,2.7,1999,4,auto(l4),4,16,20,r,pickup,4,18.0,True
205,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup,4,17.0,True
207,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup,4,18.0,True
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact,7,22.5,True
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact,7,25.5,True
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact,7,22.5,True
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact,7,25.5,True
218,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact,8,25.0,True
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,7,19.5,True
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,12,35.0,True
225,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact,7,22.5,True
227,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact,9,24.5,True
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize,11,23.5,True
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5,True
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0,True
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5,True

In [101]:
mpg.groupby(['is_automatic']).agg(['mean'])
#I think this is my answer : )

,displ,year,cyl,city,highway,mileage_difference,average_mileage
,mean,mean,mean,mean,mean,mean,mean
is_automatic,,,,,,,
False,2.966234,2002.974026,5.246753,18.675325,25.779221,7.103896,22.227273
True,3.719745,2003.757962,6.203822,15.968153,22.292994,6.324841,19.130573

# EXERCISES III

### 1. Use your get_db_url function to help you explore the data from the chipotle database.

In [103]:
from get_db_url import get_db_url

In [108]:
url = get_db_url('chipotle')

In [109]:
sql = """
    SELECT * from orders
"""

In [111]:
chipotle_df = pd.read_sql(sql,url)
chipotle_df.head()

,id,order_id,quantity,item_name,choice_description,item_price
0,1,1,1,Chips and Fresh Tomato Salsa,nan,$2.39
1,2,1,1,Izze,[Clementine],$3.39
2,3,1,1,Nantucket Nectar,[Apple],$3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98

### 2. What is the total price for each order?

In [125]:
chipotle_df.dtypes
#note that the price column is 'object' data type : (

id                     int64
order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [133]:
chipotle_df['numeric_price'] = chipotle_df['item_price'].str.replace('$',"")
chipotle_df.head()

<ipython-input-133-141c15e4ddf4>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  chipotle_df['numeric_price'] = chipotle_df['item_price'].str.replace('$',"")

,id,order_id,quantity,item_name,choice_description,item_price,numeric_price
0,1,1,1,Chips and Fresh Tomato Salsa,nan,$2.39,2.39
1,2,1,1,Izze,[Clementine],$3.39,3.39
2,3,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39,2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98,16.98

In [138]:
chipotle_df['item_price_final'] = chipotle_df['numeric_price'].astype(float)
chipotle_df.head()

,id,order_id,quantity,item_name,choice_description,item_price,numeric_price,item_price_final
0,1,1,1,Chips and Fresh Tomato Salsa,nan,$2.39,2.39,2.39
1,2,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,3,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39,2.39,2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98,16.98,16.98

In [141]:
chipotle_df.groupby(['order_id']).agg(['sum'])
#is there a datatype problem with the item_price column? yes. see above cells to fix it
#this is your answer btw

,id,quantity,item_name,choice_description,item_price,numeric_price,item_price_final
,sum,sum,sum,sum,sum,sum,sum
order_id,,,,,,,
1,10,4,Chips and Fresh Tomato SalsaIzzeNantucket NectarChips and Tomatillo-Green Chili Salsa,nan[Clementine][Apple]nan,$2.39 $3.39 $3.39 $2.39,2.39 3.39 3.39 2.39,11.56
2,5,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98,16.98,16.98
3,13,2,Chicken BowlSide of Chips,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]nan",$10.98 $1.69,10.98 1.69,12.67
4,17,2,Steak BurritoSteak Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour...",$11.75 $9.25,11.75 9.25,21.00
5,21,2,Steak BurritoChips and Guacamole,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]nan",$9.25 $4.45,9.25 4.45,13.70
...,...,...,...,...,...,...,...
1830,9223,2,Steak BurritoVeggie Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese, Lettuce, Guacamole]][Tomatillo Green C...",$11.75 $11.25,11.75 11.25,23.00
1831,13842,3,Carnitas BowlChipsBottled Water,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Lettuc...",$9.25 $2.15 $1.50,9.25 2.15 1.50,12.90
1832,9233,2,Chicken Soft TacosChips and Guacamole,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]nan",$8.75 $4.45,8.75 4.45,13.20
1833,9237,2,Steak BurritoSteak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce, Guacamole]][Fres...",$11.75 $11.75,11.75 11.75,23.50
1834,13863,3,Chicken Salad BowlChicken Salad BowlChicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Guacamole, Lettuce]][Fresh Tomat...",$11.25 $8.75 $8.75,11.25 8.75 8.75,28.75

### 3. What are the most popular 3 items?


### 4. Which item has produced the most revenue?

### 5. Join the employees and titles DataFrames together.

### 6. For each title, find the hire date of the employee that was hired most recently with that title.

### 7. Write the code necessary to create a cross tabulation of the number of titles by department. (Hint: this will involve a combination of SQL code to pull the necessary data and python/pandas code to perform the manipulations.)